<%- include('header'); -%>

<h1 id="page-title"><%= title %></h1>
<div id="list">
  <div class="item">
    <form class="update-form" action="/update/<%= todo._id %>" method="post" accept-charset="utf-8">
      <input class="update-input" type="text" name="content" value="<%= todo.content %>" />
      <button type="submit" name="submit">submit</button>
    </form>
  </div>
</div>

<%- include('footer'); -%>